@keyframes loading {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes load-remove {
  100% {
    opacity: 0;
    background-color: none;
    z-index: -1;
  }
}
@keyframes heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes apparition {
  0% {
    scale: 0.1;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
@keyframes validation {
  0% {
    transform: scaleX(0);
  }
  20% {
    transform: scaleX(0.2);
  }
  40% {
    transform: scaleX(0.4);
  }
  60% {
    transform: scaleX(0.6);
  }
  80% {
    transform: scaleX(0.8);
  }
  100% {
    transform: scaleX(1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", "Roboto", sans-serif;
  font-size: 27px;
}

h2, h6 {
  font-size: 17px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 16px;
}

@media screen and (min-width: 1000px) {
  body {
    margin: auto;
    width: 70%;
    max-width: 1000px;
  }
}
.bouton {
  padding: 15px;
  color: white;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 1px 1px 1rem 0px rgb(200, 200, 200);
}
.bouton:hover {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 1px 1px 1rem 0px #afafaf;
}

html .load {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  animation: load-remove 3s;
  animation-fill-mode: both;
  animation-delay: 4s;
}
html .load i {
  color: #9356DC;
  animation: loading 2s linear 3;
}
@media screen and (min-width: 1000px) {
  html .load {
    width: 70%;
    max-width: 1000px;
  }
}

.heart {
  position: relative;
  width: 20px;
  height: 20px;
  top: -30px;
  left: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart__icon-2 {
  fill: url(#MyGradient);
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
}
.heart:hover .heart__icon-2 {
  animation: heart 0.3s;
  animation-fill-mode: forwards;
}
.heart:hover .heart__icon {
  transform: scale(0);
}

.header {
  height: 60px;
  padding: 20px;
  box-shadow: 0px 2px 0.2rem rgb(200, 200, 200);
  position: relative;
  z-index: 1;
}
.header__logo {
  display: block;
  margin: auto;
  width: 50%;
  max-width: 200px;
}
.header__retour {
  position: absolute;
}

.footer {
  background-color: #353535;
  padding: 20px;
}
.footer__logo {
  font-size: 27px;
  color: white;
}
.footer__lien {
  font-size: 15px;
}
.footer__lien li {
  margin-top: 7px;
}
.footer__lien a {
  color: white;
}
.footer__lien i {
  margin-right: 10px;
}
@media screen and (min-width: 1000px) {
  .footer__lien {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 15px;
  }
}

.recherche {
  padding: 15px;
  background: #f3efef;
}
.recherche__formulaire {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.recherche__formulaire input {
  border: none;
  background: none;
  font-weight: bold;
  padding-left: 10px;
  font-size: 15px;
  width: 130px;
}
.recherche__formulaire i, .recherche__formulaire input::placeholder {
  color: rgba(0, 0, 0, 0.693);
}

.informations {
  background: #f6f6f6;
  padding: 30px;
  text-align: center;
}
.informations__description {
  color: rgba(0, 0, 0, 0.693);
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.fonctionnement {
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 15px;
}
.fonctionnement__articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.fonctionnement__article {
  background: #f6f6f6;
  border-radius: 20px;
  margin: 15px;
  margin-top: 25px;
  box-shadow: 1px 1px 1rem 0px rgb(200, 200, 200);
  padding: 25px;
  width: 100%;
  max-width: 320px;
  display: flex;
}
.fonctionnement__article:hover {
  background-color: #e4d5f6;
}
.fonctionnement__article:hover i {
  color: #9356DC;
}
.fonctionnement__article__numero {
  background: #9356DC;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  margin-left: -35px;
}
.fonctionnement__article__titre {
  margin-left: 10%;
}
.fonctionnement__article i {
  color: rgba(0, 0, 0, 0.693);
  margin-left: 10%;
  margin-top: 2px;
}

.restaurants {
  background: #f6f6f6;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 15px;
  margin-bottom: 0px;
}
.restaurants__titre {
  margin-top: 30px;
  margin-bottom: 20px;
}
.restaurants__articles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.restaurants__article {
  height: 250px;
  width: 340px;
  border-radius: 20px;
  margin-bottom: 30px;
  background: white;
  box-shadow: 1px 1px 1rem 0px rgb(200, 200, 200);
}
.restaurants__article__img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.restaurants__article__nom {
  padding-left: 10px;
  padding-top: 10px;
}
.restaurants__article__lieu {
  color: rgba(0, 0, 0, 0.693);
  font-size: 15px;
  padding-left: 10px;
  padding-top: 2px;
}
.restaurants__article .nouveau {
  background-color: #99E2D0;
  color: #1b6150;
  text-align: center;
  width: 80px;
  position: relative;
  top: -240px;
  left: 240px;
}

.photo-restau {
  height: auto;
  max-height: 500px;
  width: 100%;
}

.restaurant {
  background: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  top: -40px;
  padding: 20px;
  margin-bottom: -40px;
}
.restaurant__titre i {
  margin-left: 30%;
}
.restaurant__type-plat__titre {
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.693);
  width: 40px;
  border-bottom: solid 3px #99E2D0;
}
.restaurant__type-plat__article {
  background: white;
  border-radius: 20px;
  box-shadow: 1px 1px 1rem 0px rgb(200, 200, 200);
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  opacity: 0;
  animation: apparition 1s linear 1 forwards;
}
.restaurant__type-plat__article:nth-child(1) {
  animation-delay: 0.5s;
}
.restaurant__type-plat__article:nth-child(2) {
  animation-delay: 0.7s;
}
.restaurant__type-plat__article:nth-child(3) {
  animation-delay: 0.9s;
}
.restaurant__type-plat__article__desc, .restaurant__type-plat__article__nom {
  display: block;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant__type-plat__article__desc {
  float: left;
}
.restaurant__type-plat__article__prix {
  font-weight: bold;
  margin-right: 0%;
  display: flex;
  justify-content: flex-end;
}
.restaurant__type-plat__article__valide {
  display: none;
}
.restaurant__type-plat__article:hover .restaurant__type-plat__article__valide {
  display: block;
  background: #99E2D0;
  width: 15%;
  height: auto; /* 59.2px;*/
  border-radius: 0 15px 15px 0;
  transform-origin: right;
  animation: validation ease 0.3s;
  animation-fill-mode: forwards;
}
.restaurant__type-plat__article:hover .restaurant__type-plat__article__valide i {
  color: white;
}
@media screen and (min-width: 1000px) {
  .restaurant__type-plat__articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurant__type-plat__article {
    width: 260px;
  }
}
.restaurant__bouton {
  margin: auto;
  height: 70px;
  padding: 50px;
  padding-left: 30%;
}
@media screen and (min-width: 1000px) {
  .restaurant__bouton {
    padding-left: 45%;
  }
}
@media screen and (min-width: 1000px) {
  .restaurant .heart {
    margin-left: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
