.bouton {
    padding: 15px;
    color: white;
    @include bordure-arrondi(30px);
    background: linear-gradient($couleur-secondaire, $couleur-primaire);
    @include ombres ;
        
    &:hover {
        background: linear-gradient(eclaircissement($couleur-secondaire),eclaircissement($couleur-primaire));
        @include ombres (assombrissement(rgb(200 200 200)));
        
    }
}