.fonctionnement {
    @include margin-padding-section;
    &__articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__article {
        background:$couleur-fond;
        @include bordure-arrondi;
        margin:15px;
        margin-top: 25px;
        @include ombres ;
        padding: 25px;
        width: 100%;
        max-width: 320px;
        display: flex;
        &:hover{
            background-color: eclaircissement($couleur-primaire,30%);
            i {
                color: $couleur-primaire;
            }
        }
        &__numero {
            background: $couleur-primaire;
            color: white;
            text-align: center;
            font-size: 14px;
            padding: 5px;
            width: 25px;
            height: 25px;
            @include bordure-arrondi;
            margin-left: -35px;
        }
        &__titre {
            margin-left: 10%;
        }
        i {
            color : $couleur-recherche-texte;
            margin-left: 10%;
            margin-top: 2px;
        }
        
    }

}