.fonctionnement {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 15px;
    &__article {
        background:$couleur-fond;
        border-radius: 20px 20px 20px 20px;
        margin:15px;
        margin-top: 25px;
        box-shadow: 1px 1px 1rem 0px rgb(200 200 200);
        padding: 25px;
        display: flex;
        &:hover{
            background-color: eclaircissement($couleur-primaire,30%);
            i {
                color: $couleur-primaire;
            }
        }
        &__numero {
            background: $couleur-primaire;
            color: white;
            text-align: center;
            font-size: 14px;
            padding: 5px;
            width: 25px;
            height: 25px;
            border-radius: 20px;
            margin-left: -35px;
        }
        &__titre {
            margin-left: 10%;
        }
        i {
            color : $couleur-recherche-texte;
            margin-left: 10%;
            margin-top: 2px;
        }
        
    }

}