.photo-restau{
    height: auto;
    max-height: 500px;
    width: 100%;
}

.restaurant {
    background: $couleur-fond;
    @include bordure-arrondi-top(30px);
    position: relative;
    top:-40px;
    padding: 20px;
    margin-bottom: -40px;
    &__titre {
        i{
            margin-left: 30%;
        }
    }
    &__type-plat{
        &__titre{
            margin-top: 30px;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: $couleur-recherche-texte;
            width: 40px;
            border-bottom: solid 3px $couleur-tertiaire;
        }
        &__article {
            background: white;
            @include bordure-arrondi;
            @include ombres ;
            margin-top: 20px;
            padding: 10px;
            width: 100%;
            opacity:0;
            animation : apparition 1s linear 1 forwards;
            &:nth-child(1){
                animation-delay: 0.5s;
            }
            &:nth-child(2){
                animation-delay: 0.7s;
            }
            &:nth-child(3){
                animation-delay: 0.9s;
            }
            

            &__desc, &__nom {
                display: block;
                width: 70%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &__desc {
                float: left;
            }

            &__prix {
                font-weight: bold;
                margin-right: 0%;
                display: flex;
                justify-content: flex-end
            }

            &__valide {
                display: none;
            }
            &:hover .restaurant__type-plat__article__valide {
                display: block;
                background:$couleur-tertiaire;
                width: 15%;
                height:auto;/* 59.2px;*/
                border-radius: 0 15px 15px 0;
                transform-origin: right;
                i{
                    color:white;
                }
                
                animation: validation ease 0.3s;
                animation-fill-mode: forwards;
            }
        }

        @include desktop {
            &__articles {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            &__article {
                width: 260px;
            }
        }
        
    }

    &__bouton {
        margin: auto;
        height: 70px;
        padding: 50px;
        padding-left: 30%;

        @include desktop{
            padding-left: 45%;
        }
    }

    @include desktop{
        .heart {
            margin-left: 60%;
        }
    }
}