.restaurants {
    background: $couleur-fond;
    @include margin-padding-section;
    margin-bottom: 0px;

    &__titre {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    &__articles {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__article {
        height: 250px;
        width: 340px;
        @include bordure-arrondi(10px);
        margin-bottom: 30px;
        background: white;
        @include ombres ;
       

        &__img {
            @include bordure-arrondi-top(10px);
            width: 100%;
            height: 70%;
            object-fit: cover;
        }

        &__nom {
            padding-left:10px;
            padding-top: 10px;
        }

        &__lieu {
            color: $couleur-recherche-texte;
            font-size: 15px;
            padding-left:10px;
            padding-top: 2px;
        }

        .nouveau {
            background-color: $couleur-tertiaire;
            color:assombrissement($couleur-tertiaire,50%);
            text-align: center;
            width: 80px;
            position: relative;
            top:-240px;
            left: 240px;
        }
    }
}

