@keyframes loading {
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(1.5);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
    
}

@keyframes load-remove {
    100% {
        opacity: 0;
        background-color: none;
        z-index: -1;
      }
}

@keyframes heart {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
}

@keyframes apparition {
  0%{
    scale: 0.1;
  }
  100%{
    scale:1;
    opacity:1;
  }
}


@keyframes validation {
    0% {
      transform: scaleX(0.4);
      }

      100% {
        transform: scaleX(1);
      }
}

@keyframes icon-check {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(360deg);
    }
}

@keyframes prix {
  0% {
    transform: translate(-1px, 0);
  }
  100% {
    transform: translate(-40px, 0);
  }
}