@mixin desktop {
    @media screen and (min-width: 1000px) {
      @content;
    }
}

  @mixin margin-padding-section {
    margin-top: 35px;
    margin-bottom: 35px;
    padding:15px;
  }

  @mixin bordure-arrondi($pixel:20px) {
    border-radius: $pixel;
  }

  @mixin bordure-arrondi-top($pixel) {
    border-radius: $pixel $pixel 0px 0px;
  }

  @mixin ombres ($couleur : rgb(200 200 200) ) {
    box-shadow: 1px 1px 1rem 0px $couleur;
  }