$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;

$couleur-footer:#353535;
$couleur-fond:#f6f6f6;
$couleur-recherche:#f3efef;
$couleur-recherche-texte:rgba(0, 0, 0, 0.693);

$taille-h1:27px;
$taille-h2-h6:17px;
$taille-h3:25px;
$taille-h4:14px;
$taille-h5:16px;